* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.list-inline {
    list-style: none;
    li {
        display: inline-block;
        padding: 10px;
        margin: 0 5px;
        &.active {
            background-color: $productBackground;
        }
        &:hover {
            background-color: $productBackground;
        }
        a {
            text-decoration: none;
            color: black;
            font-size: 24px;
            font-weight: 700;
        }
    }
}

.container {
    width: 70%;
}


@media screen and (min-width: 480px) {
    $colNumber: 1;
}
@media screen and (min-width: 768px) {
    $colNumber: 2;
}
@media screen and (min-width: 1200px) {
    $colNumber: 3;
}